<!-- <h1>{{increment}}</h1>

<h2 *ngIf="increment > 10">
  increment lebih dari 10
</h2>

<button (click)="incrementPlus()">
   Tambah 1
</button>

<ul>
  <li *ngFor="let item of arr">
    {{item}}
  </li>
</ul> -->


<h1>root app</h1>
<div style="display: flex; flex-direction: column;">
  <a routerLink="/one">component one</a>
  <a routerLink="/two">component two</a>
  <a routerLink="/pages/one">pages one</a>
  <a routerLink="/pages/two">pages two</a>
</div>

<div style="border: 1px solid black;">
  <router-outlet></router-outlet>
</div>
